body{
    padding: 0px 50px;
    text-decoration: none;
    font-family: "Inter", serif;
}
a {
    text-decoration: none;
    color: black;
}
button {
    text-align: center;
    cursor: pointer;
    border-style: none;
    border-radius: 7px;
}
h1 {
    font-size: 70px;
    font-weight: 750;
}
.header {
    display: flex;
    justify-content: space-between;
}
.section {
    display: flex;
    align-items: center;
}
.hbutton {
    font-size: 19px;
    padding: 0px 40px;
}
.logo {
    font-size: 50px;
    padding: 0px 0px;
    font-weight: bold;
}
.login {
    color: white;
    text-align: center;
}
.section button {
    text-decoration: none;
    position: relative;
    height: 40%;
    background-color: black;
}
.mainun, .notesun, .aboutun {
    text-decoration: underline;
    text-underline-offset: 2.5px;
    font-weight: 500;
}
.info {
    width: 37%;
}
.info p {
    margin-top: -2%;
    font-size: 25px;
    color: #000000BF;
}
.info button {
    font-size: 25px;
    background-color: black;
    color: white;
    width: 18%;
    min-height: 71px;
    margin-top: 2%;
}
.content h2, .content1 h2 {
    width: 100%;
    font-size: 60px;
    font-weight: 600;
}
.subheading {
    margin-top: -1.5%;
    margin-left: 0.6%;
    width: 20%;
}
.titl {
    font-size: 32px;
    font-weight: 500;
    margin-top: 11%;
}
.txt {
    color: #000000BF;
    font-size: 24px;
    margin-top: -5%;
}
.btns {
    width: 60%;
    margin-top: 2%;
}
.btn1 {
    font-size: 25px;
    background-color: black;
    color: white;
    width: 11%;
    min-height: 58px;
}
.btn2 {
    margin-left: 3.7%;
    font-size: 25px;
    background-color: rgba(158, 158, 158, 0.382);
    color: black;
    width: 22%;
    min-height: 58px;
}
.htxt {
    color: #828282;
    font-size: 25px;
}
.desc, .hinfo {
    color: black;
    font-size: 20px;
    margin-top: 5%;
}
.content {
    width: 30%;
}
.ainfo {
    margin-top: -1%;
    width: 100%;
}
h3 {
    margin-top: 3.7%;
    font-size: 37px;
}
.form {
    width: 29.5%;
}
.column {
    display: flex;
    justify-content: space-between;
    column-gap: 15%;
    padding-bottom: 3.7%;
}
.form label {
    color: black;
    font-size: 17px;
}
.input input, textarea {
    position: relative;
    width: 100%;
    height: 45px;
    border-radius: 7px;
    outline: none;
    border-style: none;
    border: 0.5px solid rgba(158, 158, 158, 0.382);
    font-size: 17px;
    margin-top: 10px;
}
#email, #msg {
    padding-bottom: 3.7%;
}
#msg textarea {
    height: 135px;
    resize: none;
}
#submit {
    background-color: black;
    font-size: 22px;
    color: white;
    height: 62px;
    width: 101%;
    border: 1px black solid;
}
.img {
    display: flex;
    justify-content: space-between;
}
.img img {
    position: absolute;
    margin-left: -650px;
    margin-top: 50px;
    border-radius: 7px;
}

.ads {
    border: 2px solid gray;
    width: 100px;
    height: 300px;
}