
.errors {
    color: red;
}
.note {
    border: 1px solid #bababa;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 5px;
    min-width: 100%;
}
button{
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.button {
    display: block;
    text-align: center;
    width: 220px;
    margin: 10px auto;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
}
.container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.forms {
    display: inline-block;
}
.container p {
    display: inline;
}
.datechangedstr {
    margin-left: 37px;
}